.webuploader-btn {
	cursor: pointer;
	background: #00b7ee;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
    display: inline-block;
}

.webuploader-btn-hover {
	background: #00a2d4;
}