.DS_Store
/pages
/node_modules
/dist
/doc
server/*
!server/fileupload.php
!server/fileupload2.php
!server/crossdomain.xml
.tags
.tags_sorted_by_file
/flash/bin-debug
/flash/html-template
/.grunt
/jekyll/_site/