.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #00b7ee;
    padding: 5px 15px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}
.webuploader-pick-hover {
    background: #00a2d4;
}

.webuploader-dnd {
    width: 400px;
    height: 400px;
    border: 3px solid #ddd;
}

.webuploader-dnd-over {
    border-style: dashed;
}

.webuploader-container {
    position: relative;
}