<div id="footer" class="footer">
    <div class="footer-inner container">
        <div class="row">
            <div class="col-md-4">
                <p class="copyright">Webuploader由<a href="https://github.com/fex-team">fex-team</a>团队负责维护</p>
                <p>&copy;2013-2018 Baidu Fex Team</p>
            </div>
            <div class="col-md-4">
                <!-- <p>友情链接</p> -->
                <ul class="friends-links">
                    <li><a href="http://fis.baidu.com/" title="前端集成解决方案">Fis</a></li>
                    <li><a href="http://gmu.baidu.com" title="基于zepto的mobile UI组件库">GMU</a></li>
                    <li><a href="http://ueditor.baidu.com/website/" title="UEditor是由百度web前端研发部开发所见即所得富文本web编辑器，具有轻量，可定制，注重用户体验等特点，开源基于MIT协议，允许自由使用和修改代码...">Ueditor</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="weixin">
                    <img src="{{ site.baseurl }}/images/qrcode.jpg" alt="..." class="img-rounded weixin-img" />
                    <p>微信公共帐号</p>
                </div>
            </div>
        </div>
    </div>
</div>