<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo{% if page.url == '/index.html' %} active{% endif%}" href="{{ site.baseurl }}/">
                <span class="fa fa-cloud-upload"></span>WebUploader</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">{% for weight in (1..10) %} {% for post in site.pages %} {% if post.group == 'nav' and post.weight == weight %} {% if page.url == post.url %}<li class="active"><a href="{{ site.baseurl }}{{post.url}}" class="active">{{post.navName}}</a></li>{% else %}<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.navName }}</a></li>{% endif %}{% endif %}{% endfor %}{% endfor %}
                <li><a target="_blank" href="https://github.com/fex-team/webuploader/issues?labels=faq&amp;page=1&amp;state=open">FAQ</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a target="_blank" href="https://github.com/fex-team/webuploader">Github</a></li>
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navbar -->